.AppLayout {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: yellowgreen;

    .sideNav {
        width: 16%;
        height: 100%;
        padding-left: 1.5rem;
        background-color: aquamarine;

        .navCard {

            padding: 0.65rem 0rem;

            img {
                width: 1.25rem;
                height: 1.25rem;
            }
        }
    }

    .rightSide {
        width: 84%;
        height: 100%;
        background-color: yellow;

        .Navbar {
            height: 3.5rem;
            width: 100%;
            background-color: pink;
            padding: 0 2rem;

            .Profile {
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                background-color: red;
            }
        }
    }

}